*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 62.5em) {
  body {
    padding: 0;
  }
}

.gototop {
  position: fixed;
  right: 5%;
  bottom: 10%;
}

.gototop__hide {
  display: none;
}

.gototop__btn {
  display: inline-block;
  padding: 1.2rem;
  border-radius: 10px;
  border: 1px solid #EDEBEB;
  outline: none;
  cursor: pointer;
  background-color: #007BE5;
  color: #EDEBEB;
}

.gototop__icon {
  font-size: 2.5rem !important;
}

.header {
  height: 100vh;
  background-color: #EDEBEB;
  padding: 4rem;
  position: relative;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 10rem;
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  width: 100%;
  -webkit-transition: .6s;
  transition: .6s;
}

.header__sticky {
  padding: 5px 10rem;
  background-color: #EDEBEB;
}

.header__logo {
  height: 7.5rem;
  margin-right: 50rem;
}

.header__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 5rem;
}

.header__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__link {
  font-size: 1.8rem;
  color: #007BE5;
  font-weight: 700;
  text-decoration: none;
}

.header__hero {
  position: absolute;
  top: 55%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__heading {
  font-size: 7rem;
  color: #007BE5;
  margin-bottom: 5rem;
  text-transform: capitalize;
  line-height: 8rem;
  letter-spacing: 2.5px;
}

.header__cta {
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#007BE5), color-stop(51%, #6F479F), to(#007BE5));
  background-image: linear-gradient(to right, #007BE5 0%, #6F479F 51%, #007BE5 100%);
  color: #fcfcfc;
  border-radius: .5rem;
  background-size: 200% auto;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__cta:hover {
  background-position: right center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__img--bg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.1;
  height: 100vh;
}

.header__img--side {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.innovations {
  padding: 5rem 5rem 5rem 10rem;
  background-color: #fcfcfc;
  position: relative;
}

.innovations__innovations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: -5rem;
}

.innovations__heading {
  font-size: 5rem;
  font-weight: 700;
  color: #202020;
}

.innovations__content {
  text-align: left;
  width: 60%;
}

.innovations__para {
  font-size: 1.4rem;
  color: #202020;
  letter-spacing: 1.5px;
  background-color: rgba(0, 123, 229, 0.2);
  padding: 1rem 4rem;
  margin-right: -6rem;
}

.innovations__img {
  height: 40rem;
}

.innovations .gallery {
  position: absolute;
  bottom: -10rem;
  left: 0rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 123, 229, 0.2);
}

.innovations .gallery__img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.innovations .gallery__img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.sample {
  padding: 15rem 7.5rem 7.5rem 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EDEBEB;
  margin-top: 5rem;
}

.sample__img {
  height: 35rem;
  border-radius: 2rem;
}

.sample__content {
  padding: 2rem;
  width: 50%;
}

.sample__heading {
  font-size: 4rem;
  color: #007BE5;
  margin-bottom: 1.2rem;
}

.sample__para {
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  margin-bottom: 4rem;
}

.sample__cta {
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#007BE5), color-stop(51%, #6F479F), to(#007BE5));
  background-image: linear-gradient(to right, #007BE5 0%, #6F479F 51%, #007BE5 100%);
  color: #fcfcfc;
  border-radius: .5rem;
  background-size: 200% auto;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 1.8rem;
}

.sample__cta:hover {
  background-position: right center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.verticals {
  padding: 5rem;
  text-align: center;
}

.verticals__heading {
  text-transform: capitalize;
}

.verticals__heading--main {
  width: 100%;
  font-size: 3rem;
  color: #fcfcfc;
  background: -webkit-gradient(linear, left top, right top, from(#007BE5), to(#6F479F));
  background: linear-gradient(to right, #007BE5, #6F479F);
}

.verticals__heading--sub {
  font-size: 1.8rem;
  color: #fcfcfc;
  margin-bottom: 2rem;
  font-weight: 300;
  letter-spacing: 1.2px;
}

.verticals__div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.5rem 0;
  padding: 1.2rem;
}

.verticals__para {
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  color: #202020;
}

.getInTouch {
  padding: 5rem;
  text-align: center;
  background-color: rgba(0, 123, 229, 0.2);
}

.getInTouch__heading {
  font-size: 2.8rem;
  background: -webkit-gradient(linear, right top, left top, from(#007BE5));
  background: linear-gradient(to left, #007BE5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.getInTouch__form {
  position: relative;
}

.getInTouch__input {
  display: block;
  margin: 2rem auto;
  border: none;
  height: 3.5rem;
  width: 30rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: rgba(0, 123, 229, 0.5);
  color: #fcfcfc;
}

.getInTouch__input:focus {
  outline: none;
}

.getInTouch__input::-webkit-input-placeholder {
  color: #fcfcfc;
}

.getInTouch__input:-ms-input-placeholder {
  color: #fcfcfc;
}

.getInTouch__input::-ms-input-placeholder {
  color: #fcfcfc;
}

.getInTouch__input::placeholder {
  color: #fcfcfc;
}

.getInTouch__btn {
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#007BE5), color-stop(51%, #6F479F), to(#007BE5));
  background-image: linear-gradient(to right, #007BE5 0%, #6F479F 51%, #007BE5 100%);
  color: #fcfcfc;
  border-radius: .5rem;
  background-size: 200% auto;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  background: -webkit-gradient(linear, right top, left top, from(#007BE5));
  background: linear-gradient(to left, #007BE5);
}

.getInTouch__btn:hover {
  background-position: right center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer {
  background-color: rgba(0, 123, 229, 0.5);
  padding: 5rem;
}

.footer__logo {
  height: 10rem;
  margin-left: 50%;
  margin-top: 2.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer__content {
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__heading {
  font-size: 1.8rem;
  color: #007BE5;
  font-weight: 700;
}

.footer__list {
  list-style: none;
}

.footer__items:not(:last-child) {
  margin-bottom: .5rem;
}

.footer__links {
  text-decoration: none;
  font-size: 1.4rem;
  color: #007BE5;
}

.copyright {
  background-color: #007BE5;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #fcfcfc;
}
/*# sourceMappingURL=style.css.map */