$color-blue:#00315c;
$color-purple:#6F479F;
$color-black:#202020;
$color-gray:#EDEBEB;
$color-white:#fcfcfc;

@mixin respond($breakpoint) {
    @if $breakpoint == f-hundred {
      @media only screen and (max-width: 31.25em) {
        @content;
      } //500px
    }
  
    @if $breakpoint == phone {
      @media only screen and (max-width: 37.5em) {
        @content;
      } //600px
    }
  
    @if $breakpoint == s-hundred {
      @media only screen and (max-width: 43.75em) {
        @content;
      } //700px
    }
  
    @if $breakpoint == e-hundred {
      @media only screen and (max-width: 50em) {
        @content;
      } //800px
    }
  
    @if $breakpoint == tab-port {
      @media only screen and (max-width: 56.25em) {
        @content;
      } //900px
    }
  
    @if $breakpoint == thousand {
      @media only screen and (max-width: 62.5em) {
        @content;
      } //1000px
    }
  
    @if $breakpoint == tab-land {
      @media only screen and (max-width: 75em) {
        @content;
      } //1200px
    }
  
    @if $breakpoint == big-desktop {
      @media only screen and (min-width: 112.5em) {
        @content;
      } //1800
    }
}

@mixin cta {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
    // background-image: linear-gradient(to right, $color-blue 0%, $color-purple 51%, $color-blue 100%);
    background-color: $color-blue;
    color: $color-white;
    border-radius: .5rem;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    transition: all .3s;

    &:hover{
        background-position: right center;
        transition: all .3s;
    }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  font-family: 'Poppins', sans-serif;

  @include respond(thousand) {
    padding: 0;
  }
}

.gototop{
  position: fixed;
  right: 5%;
  bottom: 10%;

  &__hide{
    display: none;
  }

  &__btn{
    display: inline-block;
    padding: 1.2rem;
    border-radius: 10px;
    border: 1px solid $color-gray;
    outline: none;
    cursor: pointer;
    background-color: $color-blue;
    color: $color-gray;
  }

  &__icon{
    font-size: 2.5rem !important;
    // line-height: 6rem !important;
  }
}

.header{
    height: 100vh;
    background-color: $color-gray;
    padding: 4rem;
    position: relative;

    &__nav{
        display: flex;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 4rem 10rem;
        justify-content: space-around !important;
        align-items: center;
        z-index: 100;
        width: 100%;
        transition: .6s;
    }

    &__sticky{
      padding: 5px 10rem;
      background-color: $color-gray;
      box-shadow: 0px 3px 5px rgba($color-blue,.5);
      // opacity: .8;
    }

    &__logo{
        height: 7.5rem;
    }

    &__list{
        list-style: none;
        display: flex;
    }

    &__item{
        &:not(:last-child){
            margin-right: 5rem;
        }
        &:hover{
            transform: scale(1.2);
            transition: all .3s;
        }
    }

    &__link{
        font-size: 1.8rem;
        color: $color-blue;
        font-weight: 700;
        text-decoration: none;
    }

    &__hero{
        position: absolute;
        top: 55%;
        left: 25%;
        transform: translate(-50%,-50%);
    }

    &__heading{
        font-size: 7rem;
        color: $color-blue;
        margin-bottom: 5rem;
        text-transform: capitalize;
        line-height: 8rem;
        letter-spacing: 2.5px;
    }

    &__cta{
        @include cta()
    }

    &__img{

        &--bg{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0.1;
            // z-index: -10;
            height: 100vh;
        }

        &--side{
            position: absolute;
            bottom: 0;
            right: 0;
            -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
        }
    }
}

.about{
  height: 100vh;
  padding: 7.5rem;
  background-image: linear-gradient(to bottom right, rgba($color-black,.75)), url('./images/about-us-bg.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  
  &__heading{
    margin-top: 5rem;
    font-size: 8rem;
    color: $color-gray;
  }

  &__para{
    margin-top: 2.5rem;
    font-size: 1.6rem;
    color: $color-white;
    line-height: 3rem;
  }
}

.data{
  padding: 5rem;

  &__heading{
    margin-left: 2.2rem;
    font-size: 2.2rem;
    color: $color-blue;
  }

  &__div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.2rem 0;
    padding: 1.5rem;
  }

  &__data{
    display: flex;
    flex-direction: column;
    color: $color-black;
  } 

  &__numbers{
    display: inline-block;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 700;
  }

  &__text{
    font-size: 1.6rem;
  }
}

.info{
    height: 100vh;
    padding: 5rem;
    background-image: linear-gradient(to right bottom, rgba($color-black,.85)), url('./images/about-next-bg.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
  &__para{
    margin-top: 2.5rem;
    font-size: 1.6rem;
    color: $color-white;
    line-height: 3rem;
  }

  &__cta{
    @include cta();
    display: inline-block;
    box-shadow: none;
    margin-top: 3.5rem;
  }
}

.innovations{
    padding: 5rem 5rem 5rem 10rem;
    background-color: $color-gray;
    position: relative;

    &__innovations{
      display: flex;
      align-items: center;
      margin: 0 auto;
      margin-top: -5rem;
    }

    &__heading{
      font-size: 5rem;
      font-weight: 700;
      color: $color-black;
    }

    &__content{
        text-align: left;
        width: 60%;
    }

    &__para{
        font-size: 1.4rem;
        color: $color-black;
        letter-spacing: 1.5px;
        background-color: rgba($color-blue,.2);
        padding: 1rem 4rem;
        margin-right: -6rem;
    }

    &__img{
        height: 40rem;
    }

    .gallery{
      position: absolute;
      bottom: -10rem;
      left: 0rem;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: rgba($color-blue,.2);
    
      &__img{
        height: 12rem;
        width: 12rem;
        border-radius: 50%;
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);

        &:hover{
          -webkit-filter: grayscale(0%);
                  filter: grayscale(0%);
        }
      }
    }
}

.sample{
    padding: 7.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $color-gray;
    &__img{
        height: 35rem;
        border-radius: 2rem;
    }
    &__content{
        padding: 2rem;
        width: 50%;
    }
    &__heading{
        font-size: 3.2rem;
        color: $color-blue;
        margin-bottom: 1.2rem;
    }
    &__para{
        font-size: 1.4rem;
        letter-spacing: 1.2px;
        margin-bottom: 4rem;
        text-align: justify
    }
    &__cta{
        @include cta();
        font-size:1.8rem;
    }
}

.verticals{
    padding: 5rem;
    text-align: center;
    &__heading{
        text-transform: capitalize;
        &--main{
            width: 100%;
            font-size: 3rem;
            color: $color-white;
            background: linear-gradient(to right, $color-blue);
        }
        &--sub{
            font-size: 1.8rem;
            color: $color-white;
            margin-bottom: 2rem;
            font-weight: 300;
            letter-spacing: 1.2px;
        }
    }

    &__div{
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 1.5rem 0;
        padding: 1.2rem;
    }

    &__para{
        font-size: 1.6rem;
        letter-spacing: 1.2px;
        color: $color-black;
    }
}

.getInTouch{
  padding: 5rem;
  text-align: center;
  background-color: rgba($color-blue,.2);
  &__heading{
    font-size: 2.8rem;
    background: linear-gradient(to left, $color-blue);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    display: inline-block;
  }

  &__form{
    position: relative;
  }

  &__input{
    display: block;
    margin: 2rem auto;
    border: none;
    height: 3.5rem;
    width: 30rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: rgba($color-blue,.5);
    color: $color-white;

    &:focus{
      outline: none;
    }

    &::-webkit-input-placeholder{
      color: rgba($color-white,1);
    }
    &::-moz-placeholder{
      color: rgba($color-white,1);
    }
    &:-ms-input-placeholder{
      color: rgba($color-white,1);
    }
    &::-ms-input-placeholder{
      color: rgba($color-white,1);
    }
    &::placeholder{
      color: rgba($color-white,1);
    }
  }

  &__btn{
    @include cta();
    border:none;
    background: linear-gradient(to left, $color-blue);
  }
}

.footer{
  background-color: rgba($color-blue,.5);
  padding: 5rem;
  &__logo{
    height: 10rem;
    margin-left: 50%;
    margin-top: 2.5rem;
    transform: translateX(-50%);
  }

  &__content{
    padding: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__heading{
    font-size: 1.8rem;
    color: $color-blue;
    font-weight: 700;
  }

  &__list{
    list-style: none;
  }

  &__items{
    &:not(:last-child){
      margin-bottom: .5rem;
    }
  }

  &__links{
    text-decoration: none;
    font-size: 1.4rem;
    color: $color-blue;
  }
}

.copyright{
  background-color: $color-blue;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: $color-white;
}